.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 180px;
}

.header {
    width: 480px;
    height: 30px;
    text-align: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content_text {
    width: 480px;
    height: 24px;
    text-align: center;
}

.colored_text {
    color: #4C4CFF;
}